@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
.logo h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.logo h1 span {
    color: crimson;
}


.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    overflow-x: hidden;
}
html{
    width: 100%;
}
#header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background-color:#151a25 ;
}

#header .header {
    min-height: 8vh;
    background-color: rgba(31, 30, 30, 0.24);
    transition: 0.3s ease background-color;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-width: 1300px;
    padding: 0 10px;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: #202832;
    width: 100%;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.5s ease left;
}

#header .nav-list ul.active {
    left: 0%;
}

#header .nav-list ul a {
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    padding: 20px;
    display: block;
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: rgba(240, 248, 255, 0.021);
    font-size: 13rem;
    letter-spacing: 50px;
    z-index: -1;
    transition: 0.3s ease letter-spacing;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
}

#header .nav-list ul li:hover a {
    color: crimson;
}

#header .hamburger {
    height: 60px;
    width: 60px;
    display: inline-block;
    border: 3px solid white;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    cursor: pointer;
    transform: scale(0.8);
    margin-right: 20px;
}

#header .hamburger:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 3px solid white;
    animation: hamburger_puls 1s ease infinite;
}

#header .hamburger .bar {
    height: 2px;
    width: 30px;
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::after,
#header .hamburger .bar::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: 0.3s ease;
    transition-property: top, bottom;
}

#header .hamburger .bar::after {
    top: 8px;
}

#header .hamburger .bar::before {
    bottom: 8px;
}

#header .hamburger.active .bar::before {
    bottom: 0;
}

#header .hamburger.active .bar::after {
    top: 0;
}
/* End Header section */

/* Start home */
#main{
    height: 100vh;
    align-items: center;
    width: 100%;
    background-color: #202c3a;
    display: flex;
}
#main .titles{
    width: 70%;
    margin: 0 auto;
}
#main .titles h1{
    text-transform: capitalize;
}
#main .titles h1:first-child{
    color: #fff;
    font-size: 7rem;
}
#main .titles h1:nth-child(2){
    color:crimson;
    font-size:9rem;
}
#main .titles h1:nth-child(3){
    font-size: 4rem;
    text-transform: uppercase;
    color: white;
    margin-bottom: 4rem;
}
#main h1 span {
    color: crimson;
}
#main .titles a{
    font-size: 4rem;
    background-color: transparent;
    padding: 10px 20px;
    color: #fff;
    border: 1px solid crimson;
    cursor: pointer;
    transition: 1s ease;
}
#main .titles a:hover{
    background-color: crimson;
    border:1px solid #fff;

}

/* End home */

/* start courses */
#courses{
    width: 80%;
    padding-top:150px !important ;
    margin: 0 auto;
}
#courses .title {
    text-align: center;
}
#courses .title h1{
    font-size: 5rem;
    font-weight: bold;
    text-transform: uppercase;
}
#courses .title p{
    font-size: 2.5rem;
}
#courses .title span{
    color: crimson;
}
#courses .courses-cards {
    display: flex;
    column-gap: 1.5rem;
    justify-content: center;
    margin: 7rem 0;
    flex-wrap: wrap;
}
#courses .courses-cards .card{
    display: flex;
    width: 320px;
    margin: 2rem 1rem;
    height: 400px;
    flex-direction:column ;
    align-items: center;
    padding: 20px 10px ;
    background-color: #202c3a;
    border-radius: 20px;
    text-align: center;
    transition: 1s ease;
    position: relative;
    overflow: hidden;
}

#courses .courses-cards .card img{
    width: 100%;
    height: 100%;
    border: 20px;
    object-fit: cover;
    margin: 3rem 0;
    font-size: 20rem;
    color: red;
    border: 20px;
}
#courses .courses-cards .card .card-body{
    width: 100%;
    height: 100%;
    border-radius:20px;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #373b405b;
    backdrop-filter: blur(5px);
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}
#courses .courses-cards .card .card-body h1{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 900;
}
#courses .courses-cards .card .card-body p{
    font-size: 1.4rem;
    line-height: 20px;
    margin: 40px 0;
    font-weight: 700;
}
#courses .courses-cards .card .card-body button{
    color: #fff;
    background-color: rgba(220, 20, 60, 0.557);
    border: none;
    font-size: 40px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
}
#courses .courses-cards .card:hover .card-body{
    right: 0;
}

/* end courses */


/* start project */
#projects{
    width: 100%;
    overflow-x: hidden;
    padding: 150px 0 !important;
    min-height: 120vh;
}
#projects .titles{
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}
#projects .titles h1{
    font-size: 6rem;
    text-transform: uppercase;
}
#projects .titles h1 span{
    color: crimson;
}
#projects .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#projects .buttons button{
    margin: 1em;
    text-transform: uppercase;
    padding: 0.7em 1.5em;
    font-size:2rem;
    font-weight: 600;
    border: none;
    background-color: #202c3a;
    color: crimson;
    border: 2px slod #111;
    border-radius: 0.2em;
    cursor: pointer;
    transition: .3s;
}
#projects .buttons button:hover,#projects .buttons .btn-clicked{
    background-color: crimson;
    color: #151a25;
}

#projects .cards{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

#projects .cards .card{
    width: 400px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: .5s;
    border: #202c3a solid 5px;
}
#projects .cards img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:20px;
    border-radius: .2em;
    transition: .6s;
}
#projects .cards .card .card-body{
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    position: absolute;
    background-color: #373b405b;
    backdrop-filter: blur(5px);
    color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
}
#projects .card .card-body .icons{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    font-size: 2rem;
    color: crimson;
}
#projects .card .card-body .icons i{
    background-color: #fff;
    margin: 10px 0;
    padding:5px  20px 5px 4px;
    border-radius: 2px;
}
#projects .card .card-body .icons i:nth-child(1){
    color: orangered;
}
#projects .card .card-body .icons i:nth-child(2){
    color: blue;
}
#projects .card .card-body .icons i:nth-child(3){
    color: rgb(229, 229, 77);
}
#projects .card .card-body h1{
    text-transform: uppercase; 
    font-size: 30px;
    font-weight: 600;
}
#projects .card .card-body p{
    font-size: 1.4rem;
    line-height: 20px;
    margin: 40px 0;
    font-weight: 700;
}
#projects .card .card-body .links {
    position: absolute;
    bottom: 15%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
#projects .card .card-body .links a{
    font-size: 2rem;
    color: #fff;
    transition: .4s ease;
    border: 2px solid #fff;
    padding: 3px 10px;
    border-radius: 20px;
}
#projects .card .card-body .links a:hover{
    color: crimson;
    border: 2px solid crimson;
}
#projects .courses-cards .card .card-body button{
    color: #fff;
    background-color: rgba(220, 20, 60, 0.557);
    border: none;
    font-size: 40px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 20px;
    outline: none;
}
#projects .cards .card:hover .card-body{
    right: 0;
}

#projects .cards .card:hover{
    border:5px solid crimson;
}

/* classes for js */
#projects .card .img-expand{
    width: 400px;
    margin: 1em;
    display: block;
}
#projects .cards .img-shrink{
    width: 0em;
    border: none;
    margin: -1em;
}

@media screen and (max-width:1439px) {
    #projects .cards{
        max-width:896px;
    }
}
@media screen and (max-width:986px) {
    #projects .cards {
        align-items: center;
        flex-direction: column;
    }
    #projects .cards img{
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}
@media screen and (max-width:600px) {
    #projects .buttons button{
        width: 90%;
        display: block;
    }
    #projects .cards .img-expand,.cards img{
        width: 100%;
    }
    #projects .cards{
    width: 80%;
}
}

@media(max-width:496px){

    #projects .card .card-body .links a{
    font-size: 1rem;
    color: #fff;
    transition: .4s ease;
    border: 2px solid #fff;
    padding: 3px 10px;
    border-radius: 20px;
}
#projects .cards .card{
    width: 300px;
}
#projects .card .img-expand{
    width: 300px;
    margin: 1em;
    display: block;
}
#projects .cards .img-shrink{
    width: 0em;
    border: none;
    margin: -1em;
}
}

@media(max-width:574px){
    #projects .cards{
    max-width: 1360px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

}

/* end project */


/* start about me */
#aboutMe{
    width: 80%;
    margin: 0 auto;
    padding: 100px 0;
}
#aboutMe .con{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#aboutMe .con .about h1{
    text-align: center;
    margin: 2rem 0;
    font-size:5rem ;
    text-transform: uppercase;
}
#aboutMe .con .about h1 span{
    color: crimson;
}
#aboutMe .con .about h2{
    font-size: 2rem;
    font-weight: 700;
    text-transform: capitalize;
}
#aboutMe .con .about p{
    margin: 5px 0;
    font-size: 1.2rem;
}
#aboutMe .con .skills{
    margin: 4rem 0 2rem 0;
}
#aboutMe .con .skills h1{
    font-size:4rem ;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
#aboutMe .con .skills h1 span{
    color: crimson;
} 

#aboutMe  .skills .skill-con{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#aboutMe  .skills .frontend{
    width: 40% ;
} 
#aboutMe  .skill-con .backend{
    width: 40% ;
} 
#aboutMe .con .skills ul li h1{
    text-align: left;
    font-size: 2rem;
    margin: 0 0 4px 0;
}
#aboutMe .con .skills ul{
    list-style: none;
}

#aboutMe .con .skills ul li span{
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    background-color: #151a25;
    display: block;
    position: relative;
}
#aboutMe .con .skills .html-bar::after{
content: "";
display: block;
width: 85%;
height: 30px;
background-color: crimson;
animation: html 1s linear;
}
#aboutMe .con .skills .html-bar::before{
    content: "85%";
    font-size: 1.5rem;
    font-weight: 900;
    position: absolute;
    right: -40px;
    top: 20%;
    color: crimson;
}
#aboutMe .con .skills .css-bar::after{
content: "";
display: block;
width: 75%;
height: 30px;
background-color: crimson;
animation: css 1s linear;
}
#aboutMe .con .skills .css-bar::before{
    content: "75%";
    font-size: 1.5rem;
    font-weight: 900;
    position: absolute;
    right: -40px;
    top: 20%;
    color: crimson;
}
#aboutMe .con .skills .js-bar::after{
content: "";
display: block;
width: 80%;
height: 30px;
background-color: crimson;
animation: js 1s linear;
}
#aboutMe .con .skills .js-bar::before{
    content: "80%";
    font-size: 1.5rem;
    font-weight: 900;
    position: absolute;
    right: -40px;
    top: 20%;
    color: crimson;
}
#aboutMe .con .skills .react-bar::after{
content: "";
display: block;
width: 50%;
height: 30px;
background-color: crimson;
animation: react 1s linear;
}
#aboutMe .con .skills .react-bar::before{
    content: "50%";
    font-size: 1.5rem;
    font-weight: 900;
    position: absolute;
    right: -40px;
    top: 20%;
    color: crimson;
}
#aboutMe .con .skills .node-bar::after{
content: "";
display: block;
width: 60%;
height: 30px;
background-color: crimson;
animation: node 1s linear;
}
#aboutMe .con .skills .node-bar::before{
    content: "60%";
    font-size: 1.5rem;
    font-weight: 900;
    position: absolute;
    right: -40px;
    top: 20%;
    color: crimson;
}
#aboutMe .con .skills .mongo-bar::after{
content: "";
display: block;
width: 50%;
height: 30px;
background-color: crimson;
animation: mongo 1s linear;
}
#aboutMe .con .skills .mongo-bar::before{
    content: "50%";
    font-size: 1.5rem;
    font-weight: 900;
    position: absolute;
    right: -40px;
    top: 20%;
    color: crimson;
}
#aboutMe .con .skills .sqlserver-bar::after{
content: "";
display: block;
width: 40%;
height: 30px;
background-color: crimson;
animation: sqlserver 1s linear;
}
#aboutMe .con .skills .sqlserver-bar::before{
    content: "40%";
    font-size: 1.5rem;
    font-weight: 900;
    position: absolute;
    right: -40px;
    top: 20%;
    color: crimson;
}

@media (max-width:900px) {
    #aboutMe  .skills .skill-con{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.frontend ,  .backend {
    width: 90% !important;
}

}
/* end about me */


/* contact Section */

#contact .contact {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

#contact .contact-items {
    /* max-width: 400px; */
    width: 100%;
}
#contact .section-title{
    margin-bottom: 4rem;
}
#contact .section-title{
    font-size: 4rem;
    text-transform: uppercase;
}
#contact .section-title span{
    color: crimson;
}
#contact .contact-item {
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 18px 0 #0000002c;
    transition: 0.3s ease box-shadow;
}

#contact .contact-item:hover {
    box-shadow: 0px 0px 5px 0 #0000002c;
}

#contact .icon {
    width: 70px;
    margin: 0 auto;
    margin-bottom: 10px;
}

#contact .contact-info h1 {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 5px;
}

#contact .contact-info h2 {
    font-size: 1.3rem;
    line-height: 2rem;
    font-weight: 500;
}

/* Footer */

#footer {
    width: 100%;
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer {
    text-align: center;
    min-height: 200px;
    flex-direction: column;
    padding-top: 40px;
    padding-bottom: 10px;
}
 #footer .footer h1{
    font-size: 3rem;
    text-transform: uppercase;
    margin: 1rem 0 0 ;
 }
  #footer .footer h1 span{ 
    color: crimson;
 }
#footer p {
    color: white;
    font-size: 1.3rem;
}
 #footer .footer .icons{
    margin: 1rem 0;
 }
  #footer .footer .icons a{
    font-size: 2rem ;
    color: #fff;
    margin: 0 .5rem;
    transition: .6s;
 }
  #footer .footer .icons a:hover{
    font-size: 2rem ;
    color: crimson;
    margin: 0 .5rem;
 }



/* End Footer */


/*End contact Section */
@media only screen and (min-width: 1225px) {
    /* contact  */
    #contact .contact {
        flex-direction: column;
        padding: 100px 0;
        align-items: center;
        justify-content: center;
        min-width: 20vh;
    }
    #contact .contact-items {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 0;
    }
    #contact .contact-item {
        width: 30%;
        margin: 0;
        flex-direction: row;
    }
    #contact .contact-item .icon {
        height: 100px;
        width: 100px;
    }
    #contact .contact-item .icon img {
        object-fit: contain;
    }
    #contact .contact-item .contact-info {
        width: 100%;
        text-align: left;
        padding-left: 20px;
    }
    /* End contact  */
}







@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width:85% ;
    }
}
@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width:75% ;
    }
}
@keyframes js {
    0%{
        width: 0%;
    }
    100%{
        width:80% ;
    }
}
@keyframes react {
    0%{
        width: 0%;
    }
    100%{
        width:50% ;
    }
}
@keyframes node {
    0%{
        width: 0%;
    }
    100%{
        width:60% ;
    }
}
@keyframes mongo {
    0%{
        width: 0%;
    }
    100%{
        width:50% ;
    }
}



@keyframes sqlserver {
    0%{
        width: 0%;
    }
    100%{
        width:40% ;
    }
}





/* Keyframes */

@keyframes hamburger_puls {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0;
        transform: scale(1.4);
    }
}



/* End Keyframes */



/* Media Query For Desktop */

@media only screen and (min-width: 1200px) {
    /* header */
    #header .hamburger {
        display: none;
    }
    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }
    #header .nav-list ul li {
        display: inline-block;
    }
    #header .nav-list ul li a {
        font-size: 1.8rem;
    }
    #header .nav-list ul a:after {
        display: none;
    }
    /* End header */
}

/* End  Media Query For Desktop */


/*start media query at mobile  */
@media(max-width:645px){
    /* start main */
    #main{
    height: 100vh;
    align-items: center;
    width: 100%;
    
    background-color: #202c3a;
    display: flex;
    overflow-x: hidden;
}
    #main .titles{
        width: 70%;
        margin: 0 auto;
    }
    #main .titles h1{
        text-transform: capitalize;
    }
    #main .titles h1:first-child{
        font-size: 5rem;
    }
    #main .titles h1:nth-child(2){
        font-size:6rem;
    }
    #main .titles h1:nth-child(3){
        font-size: 3rem;
        margin-top: 1rem;
        margin-bottom: 4rem;
    }
    #main .titles a{
        font-size: 3rem;
        background-color: transparent;
        padding: 10px 20px;
        color: #fff;
        border: 1px solid crimson;
        cursor: pointer;
    }
    /* end main */
}
/*end media query at mobile  */
.none{
    display: none;
}