

.side-bar{
    padding: 60px;
}
.icon{
    position: relative;
    height: 0;
}
.icon i{
    color: #d03535da;
    font-size: 4rem;
    position: fixed;
    z-index: 2;
    left: 190px ;
    top: 120px;
    rotate: 90deg;
    cursor: pointer;
    transition: .5s;
    z-index: 20;
}
.icon-closed{
    transition: .5s;
    left: 0 !important;
    rotate: 270deg !important;
    color: crimson !important;
    position: relative;
    z-index: 20;
}
.icon-closed::after{
    content: 'list';
    position: absolute;
    rotate: 90deg;
    right: -20px;
    top: 70px;
    font-size: 3rem;
}
.list{
    transition: .5s;
    position:fixed ;
    background-color:#202832 ;
    padding: 100px 20px;
    left: 0;
    min-height: 100vh;
    z-index: 10;
}
.open{
    transition: 2s;
    left: -70% !important;
}
.open-click{
    transition: 2s;
    left: -70% !important;
}
 .list .title{
    text-align: center;
    width: 100%;
}
 .list .title h1{
    font-size: 5rem;
    color: crimson;
    font-weight: bold;
    opacity: .8;
    position: relative;
}
.list .title h1::after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: 1s;
    position: absolute;
}

.list .list-items{
    margin-top: 10px;
}
 .list .list-items h2{
    margin: 12px 0;
    transition: 1s ease;
}
 .list .list-items h2 button{
    color: #fff;
    font-size: 2rem;
    border: none;
    background-color: transparent;
}
 .list .list-items h2 :hover{
    color: crimson;
}
 .list .list-items h2 button a{
    color: unset;
 }

.link-active{
    color: crimson !important;
}

.con{
    width: 100%;
    align-items: center;
    margin: auto 0;
}
#learn-here-con .con .title{
    text-align: center;
    margin: 20px 0;
}
#learn-here-con .con .title h1{
    font-size: 5rem;
    text-transform: capitalize;
    color: crimson;
    font-weight: bold;
    position: relative;
}


#learn-here-con .con .video{
    margin: 40px 0;
    overflow-x: hidden;
}
#learn-here-con .con .video iframe{
    width: 1024px;
    height: 576px;
}
@media (max-width:1244px){
    #learn-here-con .con .video iframe{
    width: 960px;
    height: 540px;
}
}
@media (max-width:1080px){
    #learn-here-con .con .video iframe{
    width: 854px;
    height: 480px;
}
}
@media (max-width:896px){
    #learn-here-con .con .video iframe{
    width: 640px;
    height: 360px;
}
}
@media (max-width:688px){
    #learn-here-con .con .title h1{
    font-size: 3rem;
    text-transform: capitalize;
    color: crimson;
    font-weight: bold;
    position: relative;
}

    #learn-here-con .con .video iframe{
    width: 426px;
    height: 240px;
}
#learn-here-con .con .lesson article h1 span{
    color: #fff;
    font-size: 3rem !important;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: crimson;
}
#learn-here-con .con .lesson article h2{
    margin: 20px 0;
    font-size: 2.5rem !important;
}
#learn-here-con .con .lesson article h2 a{
    font-size: 2.5rem !important;
    color: crimson;
    background-color: #202832;
    padding: 5px 10px;
    border-radius:10px ;
    cursor: pointer;
}
#learn-here-con .con .lesson article h2 mark{
    background-color: unset;
    color: crimson;
}
}
@media (max-width:468px){
    #learn-here-con .con .video iframe{
    width: 360px;
    height: 180px;
}
}
#learn-here-con .con .lesson{
    width: 90%;
    margin: 0 auto;
    text-align: right;
}
#learn-here-con .con .lesson article{
    width: 100%;
    margin: 50px 0;
    text-align: right;
}
#learn-here-con .con .lesson article h1 span{
    color: #fff;
    font-size: 3.5rem;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: crimson;
}
#learn-here-con .con .lesson article h2{
    margin: 20px 0;
    font-size: 3rem;
}
#learn-here-con .con .lesson article h2 a{
    font-size: 3rem;
    color: crimson;
    background-color: #202832;
    padding: 5px 10px;
    border-radius:10px ;
    cursor: pointer;
}
#learn-here-con .con .lesson article h2 mark{
    background-color: unset;
    color: crimson;
}


#learn-here-con .html-video{
    padding: 150px 0 0 0 ;
}


